{% extends "base.html" %}
{% block title %}
  知否-首页
{% endblock %}
{% block body %}
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-8" style="background-color: white">
      {% for question in questions %}
        <div class="card mt-3 mb-3">
          <h5 class="card-header">
            <a href="{{ url_for("qa.question_detail",question_id=question.id) }}" style="text-decoration: None">
              {{ question.author.nickname }}
            </a>
          </h5>
          <div class="card-body">
            <h5 class="card-title">{{ question.title }}</h5>
            <p class="card-text">{{ question.content }}</p>
            <p class="card-text" style="text-align: right;">
              <span class="mx-3" style="color: #aaaaaa;">创建时间:{{ question.create_time }}</span>
              <a href="{{ url_for("qa.question_detail",question_id=question.id) }}" class="btn btn-primary">
                去回答
              </a>
            </p>
          </div>
        </div>
      {% endfor %}
      <nav class="pager">
        <ul class="pagination pagination-lg justify-content-center">
          {% if paginate.has_prev %}
            <li class="page-item">
              <a class="page-link" href="/page/{{ paginate.prev_num }}" aria-label="Previous" id="previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for i in paginate.iter_pages() %}

            <li class="page-item">
              <a class="page-link" href="/page/{{ i }}">{{ i }}</a>
            </li>
            <a href=></a>
          {% endfor %}

          {% if paginate.has_next %}
             <li class="page-item">
                      <a class="page-link" href="/page/{{ paginate.next_num }}" aria-label="Next" id="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
          {% endif %}
        </ul>
      </nav>

    </div>
    <div class="col">
    </div>
  </div>
  </div>

{% endblock %}