{% extends "base.html" %}
{% block title %}
  知否-登录
{% endblock %}
{% block body %}
  <div class="row pt-sm-5">
    <div class="col"></div>
    <div class="col">
      <form action="{{ url_for("user.login") }}" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">邮箱</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="请输入邮箱地址">
          <div id="emailHelp" class="form-text">您的邮箱不会用于除登录以外的任何用途</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">密码</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">记住密码</label>
        </div>
        {% for message in get_flashed_messages() %}
        <div class="text-danger">{{ message }}</div>
        {% endfor %}
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">登录</button>
        </div>

      </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}